<!-- <header class="header">Admin Pannel</header>
<div class="row profile">
  <div class="col-md-3 aside ">
    <div class="profile-sidebar">
      
      <div class="profile-userpic">
        <img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive"
          alt="">
      </div>
    
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
          Vipin Sahu
        </div>
        <div class="profile-usertitle-job">
          Developeraside
        </div>
      </div>
      
      <div class="profile-userbuttons">
        <button type="button" class="btn btn-success btn-sm">Follow</button>
        <button type="button" class="btn btn-danger btn-sm">Message</button>
      </div>
      
      <div class="profile-usermenu">
        <ul class="nav">
          <li>
            <a href="#">
              <i class="glyphicon glyphicon-home"></i>
              Overview </a>
          </li>
          <li>
            <a routerLink="/user/admin/" routerLinkActive="active">
              <i class="glyphicon glyphicon-user"></i>
              Account Settings </a>
          </li>
          <li>
            <a routerLink="/user/admin/exams" routerLinkActive="active">
              <i class="glyphicon glyphicon-ok"></i>
              Exmas </a>
          </li>
          <li>
            <a routerLink="/user/admin/timetable" routerLinkActive="active">
              <i class="glyphicon glyphicon-user"></i>
              Timetable </a>
          </li>
          <li>
            <a routerLink="/user/admin/classmgmt" routerLinkActive="active">
              <i class="glyphicon glyphicon-user"></i>
              ClassManagement </a>
          </li>
          <li>
            <a routerLink="/user/admin/admin-student" routerLinkActive="active">
              <i class="glyphicon glyphicon-user"></i>
              Student </a>
            <ul>
              <a routerLink="/user/admin/admin-student/admin-manage-student" routerLinkActive="active">
                <i class="glyphicon glyphicon-user"></i>
                Manage Student </a>
            </ul>
            <ul>
              <a routerLink="/user/admin/admin-student/admin-manage-scholarship" routerLinkActive="active">
                <i class="glyphicon glyphicon-user"></i>
                Manage Scholarship </a>
            </ul>
            <ul>
              <a routerLink="/user/admin/admin-student/admin-manage-subject" routerLinkActive="active">
                <i class="glyphicon glyphicon-user"></i>
                Manage Subject </a>
            </ul>
          </li>

          <li>
            <a routerLink="/user/admin/admin-professor" routerLinkActive="active">
              <i class="glyphicon glyphicon-user"></i>
              Professor </a>
            <ul>
              <a routerLink="/user/admin/admin-professor/admin-manage-professor" routerLinkActive="active">
                <i class="glyphicon glyphicon-user"></i>
                Manage Professor </a>
            </ul>
          </li>
          <li>
            <a routerLink="/admin" routerLinkActive="active">
              <i class="glyphicon glyphicon-flag"></i>
              Help </a>
          </li>
        </ul>
      </div>

       
    </div>
  </div>
  <div class="col-md-9">
    <div class="profile-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



<div class="container-fixed-lg footer">
  <div class="copyright sm-text-center">
    <p class="small no-margin pull-left sm-pull-reset w-100">
      <span class="hint-text">Copyright &copy; 2017 </span>
      <span class="font-montserrat">CMS</span>.
      <span class="hint-text">All rights reserved. </span>
     
    </p>
     
    <div class="clearfix"></div>
  </div>
</div> -->

<div class="wrapper">
  <div class="sidebar" data-color="danger" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <app-admin-sidebar></app-admin-sidebar>
    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <div class="footer">
      <app-footer></app-footer>
    </div>
  </div>
</div>