<header class="header">Professor Pannel</header>
<div class="row profile">
  <div class="col-md-3 aside ">
    <div class="profile-sidebar">
      <!-- SIDEBAR USERPIC -->
      <div class="profile-userpic">
        <img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive"
          alt="">
      </div>
      <!-- END SIDEBAR USERPIC -->
      <!-- SIDEBAR USER TITLE -->
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
          Marcus Doe
        </div>
        <div class="profile-usertitle-job">
          Developeraside
        </div>
      </div>
      <!-- END SIDEBAR USER TITLE -->
      <!-- SIDEBAR BUTTONS -->
      <div class="profile-userbuttons">
        <button type="button" class="btn btn-success btn-sm">Follow</button>
        <button type="button" class="btn btn-danger btn-sm">Message</button>
      </div>
      <!-- END SIDEBAR BUTTONS -->
      <!-- SIDEBAR MENU -->
      <div class="profile-usermenu">
        <ul class="nav">
          <li>
            <a href="#">
              <i class="glyphicon glyphicon-home"></i>
              Overview </a>
          </li>
          <li>
            <a routerLink="/professor/pchat" routerLinkActive="active">
              <i class="glyphicon glyphicon-user"></i>
              Account Settings </a>
          </li>
          <li>
            <a routerLink="/professor/result" routerLinkActive="active">
              <i class="glyphicon glyphicon-ok"></i>
              Tasks </a>
          </li>
          <li>
            <a routerLink="/professor/alumni" routerLinkActive="active">
              <i class="glyphicon glyphicon-flag"></i>
              Help </a>
          </li>
        </ul>
      </div>

      <!-- END MENU -->
    </div>
  </div>
  <div class="col-md-9">
    <div class="profile-content">
      Some user related content goes here...
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



<div class="container-fixed-lg footer">
  <div class="copyright sm-text-center">
    <p class="small no-margin pull-left sm-pull-reset w-100">
      <span class="hint-text">Copyright &copy; 2017 </span>
      <span class="font-montserrat">CMS</span>.
      <span class="hint-text">All rights reserved. </span>
      <!--<span class="sm-block"><a href="/terms-of-use" class="m-l-10 m-r-10">Terms of use</a></span>-->
    </p>
    <!--  <p class="small no-margin pull-right sm-pull-reset">
              <a href="http://www.trancis.com/">Trancis</a> <span class="hint-text">&amp; Made by Trancis Group ®</span>
            </p> -->
    <div class="clearfix"></div>
  </div>
</div>
